@import '../../../styles/index.scss';

.footer{
  background-color: var(--primary--darker);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;

  .permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    a{
      color: white;
      text-decoration: none;
      }
  }

  &__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    a {
      background-color: var(--primary);
      padding: 0.8rem;
      border-radius: 0.7rem;
      display: flex;
      border: 1px solid transparent;
      font-size: 1.5rem;
      color: var(--primary--darker);
      &:hover{
        background-color: var(--primary--darker);
        color: var(--primary);
        border-color: var(--primary--darker);
      }
    }
  }

  &__copyright{
    color: var(--primary--darker);
  }

}

//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__socials{
    margin-bottom: 2.6rem;
  }
}