@import '../../../styles/index.scss';

.special{
  font-size: calc( 1em + 5vmin );
  font-weight: 900;
  color: rgb(200, 72, 97);
  
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow: 
    
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);
  

/* for browsers that support spread, added in
https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
currently: none browsers! none of them!
I can't even find a test: 
https://wpt.fyi/results/css/css-text-decor */
@supports ( text-shadow: 1px 1px 1px 1px black ) {
  h5 {
    text-shadow:
      
      var(--x-offset)
      var(--y-offset)
      0px
      0px
      var(--background-color), 
      
      var(--x-offset) 
      var(--y-offset)
      var(--stroke)
      0px
      var(--stroke-color);
    
  }
}
}

#skills{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary--light);
  color: var(--secondary);
}

.skills{
  height: 90%;
  display: block;
  &__langages{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 35%;
    align-items: center;
    padding: 3rem;

    .svg-inline--fa{
      cursor: pointer;
      border-radius: 20px;
      height: 50%;
      transition: all .5s ease-in-out;
      &:hover{
        transform: scale(1.5);
      }
    }
    .fa-html5{
      color: #DD4B25;
    }
    .fa-css3-alt{
      color: #146EB0;
    }
    .fa-square-js{
      color: #F2DB1D;
    }
    .fa-react{
      color: #5ED3F3;
    }
    .fa-wordpress{
      color: #017197;
    }
    .fa-php{
      color: #858EB8;
    }
    
  }
  &__content{
    
    display: flex;
    justify-content:space-around;

    .skill{
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
      background-color: var(--primary--light);
      border-radius: 2rem;
      border: 1px solid var(--primary);
      transition: var(--transition);
      width: 40%;
      &__head{
        background-color: var(--primary--light);
        padding: 2rem;
        border: 1px solid var(--primary);
        border-radius: 2rem 2rem 0 0;
        border-bottom: solid 1px var(--txt--color);
        /* box-shadow: 0 2rem 1rem rgba(0,0,0,0.1); */ 

        h3{
          font-size: 1rem;
          text-align: center;
        }
      }

      ul{
        padding: 2rem;
        list-style-type: none;
        p{
          font-size: 1rem;
          
          font-weight: 500;
        }
        li{
          display: flex;
          gap: 1rem;
          margin-bottom: 0.8rem;
        }
        .icon{
          /* color: var(--txt--color); */
          margin-top: 2px;
        }

      }

    }

  }
}

//MEDIA QUERIES (MEDIUM DEVICES)
@media screen and (max-width: 1024px){
  
  .skills , #skills{
    height: fit-content;
  }
  .skills__content{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__langages .svg-inline--fa{
    height: 6rem;
    justify-content: space-between;
  }
}
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
  .skills , #skills{
    height: fit-content;
  }
  .skills__content{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__langages .svg-inline--fa {
    height: 3rem;
  }

  .skills__content .skill {
    width: 90%;
  }
}


