@import '../../../styles/index.scss';


#skills{
  width: 100vw;
  height: 100vh;
  background-color: var(--primary--light);
  color: var(--primary--darker);
}

.skills{
  height: 90%;
  display: block;
  &__langages{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 25%;
    align-items: center;
    padding: 3rem;

    .svg-inline--fa{
      border-radius: 20px;
      height: 50%;
      transition: all .5s ease-in-out;
      &:hover{
        transform: scale(1.5);
      }
    }
    .fa-html5{
      color: #DD4B25;
    }
    .fa-css3-alt{
      color: #146EB0;
    }
    .fa-square-js{
      color: #F2DB1D;
    }
    .fa-react{
      color: #5ED3F3;
    }
    .fa-wordpress{
      color: #017197;
    }
    .fa-php{
      color: #858EB8;
    }
    
  }
  &__content{
    
    display: flex;
    justify-content:space-around;

    .skill{
      background-color: var(--primary);
      border-radius: 2rem;
      border: 1px solid transparent;
      transition: var(--transition);
      width: 40%;
      &__head{
        background-color: var(--primary);
        padding: 2rem;
        border-radius: 2rem 2rem 0 0;
        border-bottom: solid 1px var(--primary--darker);
        /* box-shadow: 0 2rem 1rem rgba(0,0,0,0.1); */ 

        h3{
          color: var(--primary--darker);
          font-size: 1rem;
          text-align: center;
        }
      }

      ul{
        padding: 2rem;
        list-style-type: none;
        p{
          font-size: 1rem;
          
          font-weight: 500;
        }
        li{
          display: flex;
          gap: 1rem;
          margin-bottom: 0.8rem;
        }
        .icon{
          color: var(--primary--darker);
          margin-top: 2px;
        }

      }

    }

  }
}

//MEDIA QUERIES (MEDIUM DEVICES)
@media screen and (max-width: 1024px){
  
  .skills , #skills{
    height: fit-content;
  }
  .skills__content{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__langages .svg-inline--fa{
    height: 6rem;
    justify-content: space-between;
  }
}
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
  .skills , #skills{
    height: fit-content;
  }
  .skills__content{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__langages .svg-inline--fa {
    height: 3rem;
  }
}


