@import '../../../styles/index.scss';


#skills{
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  background-color: var(--primary--light);
  color: var(--secondary);
  margin-bottom: 5rem;
}

.skills{
  height: 90%;
  display: block;
  &__langages{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 20%;
    align-items: center;
    padding: 0 3rem;

    .svg-inline--fa{
      cursor: pointer;
      border-radius: 20px;
      /* height: 50%; */
      height: 4rem;
      transition: all .5s ease-in-out;
      &:hover{
        transform: scale(1.5);
      }
    }
    .fa-html5{
      color: #DD4B25;
    }
    .fa-css3-alt{
      color: #146EB0;
    }
    .fa-square-js{
      color: #F2DB1D;
    }
    .fa-react{
      color: #5ED3F3;
    }
    .fa-wordpress{
      color: #017197;
    }
    .fa-php{
      color: #858EB8;
    }
    
  }
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    margin: 3rem;

    .skill{
      height: 100%;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
      background-color: var(--primary--light);
      border: 1px solid gainsboro;
      transition: var(--transition);
      /* width: 40%; */
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      &__head{
        background-color: var(--primary--light);
        padding: 1rem;
        /* border: 1px solid var(--primary); */
        /* border-radius: 2rem 2rem 0 0; */
        border-bottom: solid 1px gainsboro;
        /* box-shadow: 0 2rem 1rem rgba(0,0,0,0.1); */ 

        h3{
          font-size: 1rem;
          text-align: center;
        }
      }

      ul{
        text-align: left;
        padding: 2rem;
        list-style-type: none;
        p{
          font-size: 1rem;
          
          font-weight: 500;
        }
        li{
          display: flex;
          gap: 1rem;
          margin-bottom: 0.8rem;
        }
        .icon{
          /* color: var(--txt--color); */
          margin-top: 2px;
        }

      }
      .experience__descr{
        width: 40%;
        min-height: 50%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        &__row{
          display: flex;
          flex-direction: row;
          width: 95%;
          height: 34%;
          /* margin: 15px 0; */
          text-align: justify;
          &:hover{
            animation: scale-down-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
            
          }
    
          &__date, &__dtl{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: "Montserrat", 'Times New Roman', Times, serif;
            
            &:hover{
              scale: initial;
            }
            
          }
          &__date{
            flex: 1 1;
            font-size: 20px;
            align-self: center;
            font-weight: bold;
            border-right: 3px solid var(--secondary);
            padding: 20px
            p{
              color: var(--txt--color);
            }
    
          }
          &__dtl{
            
            font-size: 14px;
            align-self: center;
            height: -moz-fit-content;
            height: fit-content;
            text-align: left;
            display: flex;
            justify-content: flex-start;
            flex: 2 1;
            padding: 10px 20px;
    
            
            h4{
              font-weight: bold;
              font-size: 18px;
              margin: 15px 0;
            }
            p:nth-child(3){
              margin-top: 10px;
              font-size: 12px;
            }
          }
        }
      }

      &__img{
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          object-fit: contain;
          width: 50%;
        }
        &:hover{
          height: 100%;
        }
      }

    }

    .skill:nth-child(1){
      width: 70%;
    }
    /* .skill:nth-child(1){
      flex: 1;
    } */

  }
}

//MEDIA QUERIES (MEDIUM DEVICES)
@media screen and (max-width: 1024px){
  
  .skills , #skills{
    height: fit-content;
  }
  .skills__content{
    margin-bottom: 4rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__langages .svg-inline--fa{
    height: 4rem;
    justify-content: space-between;
  }
}
//MEDIA QUERIES (MEDIUM DEVICES)
@media screen and (max-width: 800px){
  .skills__content .skill {
    width: 80%;
  }
  
  
}
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
  .skills , #skills{
    height: fit-content;
    margin-bottom: 0 ;
  }
  .skills__content{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills__langages .svg-inline--fa {
    height: 3rem;
  }

  .skills__content .skill {
    width: 90%;
  }
  
  .skills , #skills{
    height: fit-content;
  }
  
  .skills , #skills{
    height: fit-content;
  }
}


