@import url("https://fonts.googleapis.com/css2?family=Anton&family=Caprasimo&family=Orbitron:wght@600&family=Oswald:wght@300;400&family=Playfair+Display:wght@400;500&family=Quicksand:wght@400;600&display=swap");
:root {
  --primary: #272727;
  --secondary: rgb(233, 233, 168);
  --tertiary: #C1A4BB;
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: "Playfair Display", Helvetica, sans-serif;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

section {
  margin-top: 8rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--tertiary);
}

section > h2 {
  color: var(--secondary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--secondary);
}

a {
  color: white;
  transition: var(--transition);
}
a:hover {
  color: var(--secondary);
}

.btn {
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: var(--secondary);
  padding: 0.74rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--tertiary);
  transition: var(--transition);
}
.btn:hover {
  background-color: yellow;
  color: var(--primary);
  border-color: transparent;
}
.btn--primary {
  background-color: burlywood;
  color: white;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
#skills {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.skills {
  height: 90%;
  display: block;
}
.skills__langages {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 40%;
}
.skills__content {
  display: flex;
  justify-content: space-around;
}
.skills__content .skill {
  background-color: pink;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--tertiary);
  height: -moz-fit-content;
  height: fit-content;
  transition: var(--transition);
}
.skills__content .skill__head {
  background-color: red;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.skills__content .skill__head h3 {
  color: black;
  font-size: 1rem;
  text-align: center;
}
.skills__content .skill ul {
  padding: 2rem;
  list-style-type: none;
}
.skills__content .skill ul p {
  font-size: 0.9rem;
}
.skills__content .skill ul li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.skills__content .skill ul .icon {
  color: blue;
  margin-top: 2px;
}

@media screen and (max-width: 1024px) {
  .skills, #skills {
    height: -moz-fit-content;
    height: fit-content;
  }
  .skills__content {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .skills, #skills {
    height: -moz-fit-content;
    height: fit-content;
  }
  .skills__content {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=Skills.css.map */