@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Montserrat+Subrayada&family=Montserrat:wght@300;400&family=Playfair+Display:ital,wght@0,400;1,500&display=swap");
:root {
  --primary: #fff4fb;
  --primary--light: #ffffff;
  /* --primary--dark: rgb(200, 72, 97); */
  --secondary: #8d8c8b;
  --secondary--lighter: #e9e5e2;
  --txt--color: #c84861;
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary--light);
  font-family: "Montserrat", "Playfair Display", Helvetica, sans-serif;
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.special {
  font-size: calc(1em + 2vmin);
  font-weight: 900;
  color: rgb(200, 72, 97);
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;
  padding-top: 2rem;
  text-shadow: var(--x-offset) var(--y-offset) 0px var(--background-color), calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);
}
@supports (text-shadow: 1px 1px 1px 1px black) {
  .special h3 {
    text-shadow: var(--x-offset) var(--y-offset) 0px 0px var(--background-color), var(--x-offset) var(--y-offset) var(--stroke) 0px var(--stroke-color);
  }
}

section > h2, section > h5, section > h3 {
  text-align: center;
  color: var(--secondary);
  font-size: 25px;
  font-family: "Lobster";
  /* text-shadow: 3px 1px 2px var(--txt--color), 3px 2px 4px rgb(85, 26, 139); */
}

section > h2 {
  color: var(--txt--color);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--txt--color);
}

li > a {
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  color: var(--txt--color);
  font-size: 1.1rem;
  text-decoration: none;
  padding-bottom: 3px;
  /* &:hover{
    text-decoration:underline;

  } */
}
li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--txt--color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s linear;
}
li > a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

h1 {
  font-size: 2rem;
}

.btn {
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: var(--primary);
  font-weight: bold;
  padding: 0.74rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: var(--transition);
  text-decoration: none;
}
.btn:hover {
  background: rgba(238, 35, 76, 0.9921568627);
  color: var(--primary--light);
  border-color: var(--primary--light);
}
.btn--primary {
  background-color: var(--txt--color);
  color: var(--primary);
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 600px) {
  #about, #skills, #contact, footer {
    height: initial;
  }
  footer {
    margin: initial;
  }
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
#Experience {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.experience {
  margin-top: 3rem;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 82%;
}
.experience__descr {
  width: 40%;
  min-height: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.experience__descr__row {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 34%;
  /* margin: 15px 0; */
  text-align: justify;
}
.experience__descr__row:hover {
  animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.experience__descr__row__date, .experience__descr__row__dtl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", "Times New Roman", Times, serif;
}
.experience__descr__row__date:hover, .experience__descr__row__dtl:hover {
  scale: initial;
}
.experience__descr__row__date {
  flex: 1 1;
  font-size: 20px;
  align-self: center;
  font-weight: bold;
  border-right: 3px solid var(--secondary);
  padding: 20px p;
  padding-color: var(--txt--color);
}
.experience__descr__row__dtl {
  font-size: 14px;
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex: 2 1;
  padding: 10px 20px;
}
.experience__descr__row__dtl h4 {
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
}
.experience__descr__row__dtl p:nth-child(3) {
  margin-top: 10px;
  font-size: 12px;
}
.experience__project {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 60%;
  height: 100%;
}
.experience__project__cards {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.experience__project__cards__ctn--2__column--1:hover .hidden__card, .experience__project__cards__ctn--1__row:hover .hidden__card, .experience__project__cards .hideAndSeek:hover .hidden__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: block; */
  opacity: 1;
  visibility: visible;
  width: 100%;
  background-color: white;
}
.experience__project__cards__ctn--2__column--1:hover > .experience__project__card, .experience__project__cards__ctn--1__row:hover > .experience__project__card, .experience__project__cards .hideAndSeek:hover > .experience__project__card {
  opacity: 1;
}
.experience__project__cards .up, .experience__project__cards .alone, .experience__project__cards .first, .experience__project__cards .second {
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.experience__project__cards .up {
  top: 0px;
  right: 0px;
}
.experience__project__cards .up .hidden__card__img {
  width: 10%;
  margin-bottom: 1rem;
}
.experience__project__cards .up img {
  -o-object-position: 50% 28%;
     object-position: 50% 28%;
}
.experience__project__cards .alone {
  top: 0;
  right: 0;
}
.experience__project__cards .alone img {
  -o-object-position: 29% 50%;
     object-position: 29% 50%;
}
.experience__project__cards .first .hidden__card__img.oc, .experience__project__cards .second .hidden__card__img.oc {
  width: 10%;
  margin-bottom: 1rem;
}
.experience__project__cards .first p, .experience__project__cards .second p {
  font-size: 0.7rem;
}
.experience__project__cards .first {
  top: 0;
  left: 0;
}
.experience__project__cards .second {
  bottom: 0;
  left: 0;
}
.experience__project__cards .second .hidden__card__img.oc {
  width: 40%;
}
.experience__project__cards .second img {
  -o-object-fit: contain;
     object-fit: contain;
}
.experience__project__cards__ctn--1 {
  flex-grow: 2;
}
.experience__project__cards__ctn--1__row {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.experience__project__cards__ctn--2 {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}
.experience__project__cards__ctn--2__column--1 {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 50%;
  flex: 1;
}
.experience__project__cards__ctn--2__column--2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  flex: 1;
}
.experience__project__cards__ctn--2__column--2 .hideAndSeek {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.experience__project__cards__ctn--2__column--2 .clmn {
  flex: 1;
  height: 100%;
  width: 100%;
}
.experience__project__card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.experience__project__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.experience__project__card:hover img {
  display: none;
}
.experience__project .hidden__card {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  color: var(--secondary);
  width: 1px;
  height: 100%;
  position: absolute;
  opacity: 1;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.experience__project .hidden__card .second h5 {
  margin-bottom: 8px;
}
.experience__project .hidden__card h5, .experience__project .hidden__card p {
  margin-bottom: 1rem;
}
.experience__project .hidden__card .exp__btn {
  background-color: var(--primary--lighter);
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.experience__project .hidden__card .exp__btn:hover {
  transition: all 0.4s ease;
  background-color: var(--primary);
  box-shadow: 0px 5px 7px gainsboro;
  color: var(--txt--color);
  transform: translateY(-3px);
}
.experience__project .hidden__card .exp__btn .faLink {
  color: gray;
  height: 0.8rem;
}
.experience__project .hidden__card__img {
  width: 30%;
  margin-bottom: 2rem;
}
.experience__project .hidden__card__img.oc {
  width: 20%;
}

@media screen and (max-width: 1024px) {
  #Experience {
    height: 200vw;
    display: flex;
    flex-direction: column;
  }
  .experience {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
    height: 100%;
  }
  .experience__project__cards {
    flex-direction: column;
    height: 1600px;
  }
  .experience__project__cards .experience__project__card {
    height: -moz-fit-content;
    height: fit-content;
  }
  .experience__project__cards__ctn--1 {
    height: 25%;
  }
  .experience__project__cards__ctn--2 {
    display: flex;
    flex-direction: column;
    height: 75%;
  }
  .experience__project__cards__ctn--2__column--1 {
    height: 34%;
  }
  .experience__project__cards__ctn--2__column--2 {
    height: 66%;
  }
  .experience__project__cards__ctn--2__column--2 .hideAndSeek {
    height: 50%;
  }
  .experience__project__cards__ctn--2__column--2, .experience__project__cards__ctn--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .experience__descr {
    margin-bottom: 5rem;
    width: initial;
    height: initial;
    width: 100%;
  }
  .experience__descr__row {
    height: 30%;
    align-items: center;
  }
  .experience__project {
    height: 70%;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .experience {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=Experience.css.map */