// @import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Montserrat+Subrayada&family=Montserrat:wght@300;400&family=Playfair+Display:ital,wght@0,400;1,500&display=swap');


:root{
  --primary: #fff4fb;
  --primary--light: #ffffff;
  /* --primary--dark: rgb(200, 72, 97); */
  --secondary: #8d8c8b;
  --secondary--lighter: #e9e5e2;
  --txt--color: #c84861;


  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;

  --transition : all 400ms ease;
}
::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  position: relative;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
#home{
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
}
.App > section{
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
  position: relative;
}
.active{
  position: relative;
  padding-bottom: 3px;
  &::after{
    content : "";
    position : absolute;
    width : 100%;
    height : 2px;
    background-color: var(--txt--color);
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition : transform 0.25s linear;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary--light);
  font-family: 'Montserrat', 'Playfair Display', Helvetica, sans-serif;
}
// Animations
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes slide-right {
  0% {
            width: 95%;
            
  }
  100% {
            width: 0;
            
  }
}
@keyframes slide-left {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 95%;
    opacity: 1;
  }
}
//fade burger menu
@keyframes fade-in{
  0% {
     opacity: 0;
     transform: translateY(-20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// general styles
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

ul{
  list-style-type: none;
}
section{
  margin-top: 8rem;
  margin-bottom: 8rem;
}
.special{
  font-size: calc( 1em + 2vmin );
  font-weight: 900;
  color: rgb(200, 72, 97);
  --x-offset: -0.0625em;
  --y-offset: 0.0625em;
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;
  padding-top: 2rem;

  text-shadow: 
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color), 
    calc( var(--x-offset) - var(--stroke) )
    calc( var(--y-offset) + var(--stroke) )
    0px
    var(--stroke-color);

    @supports ( text-shadow: 1px 1px 1px 1px black ) {
      h3 {
        text-shadow:
          
          var(--x-offset)
          var(--y-offset)
          0px
          0px
          var(--background-color), 
          
          var(--x-offset) 
          var(--y-offset)
          var(--stroke)
          0px
          var(--stroke-color);
        
      }
    }
}
section > h2, section > h5, section > h3{

  text-align: center;
  color: var(--secondary);
  font-size: 25px;
  font-family: 'Lobster';
  /* text-shadow: 3px 1px 2px var(--txt--color), 3px 2px 4px rgb(85, 26, 139); */
  
}

section > h2{
  color: var(--txt--color);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--txt--color);
}


li > a{
            position: relative;
            font-family: 'Montserrat',Helvetica, sans-serif;  ;
            color: var(--txt--color);
            font-size: 1.1rem;
            text-decoration: none;
            padding-bottom: 3px;
            /* &:hover{
              text-decoration:underline;
              
            } */
            &::after{
              content : "";
              position : absolute;
              width : 100%;
              height : 2px;
              background-color: var(--txt--color);
              bottom: 0;
              left: 0;
              transform : scaleX(0);
              transform-origin: bottom right;
              transition : transform 0.25s linear;
            }
            &:hover::after{
              transform-origin: bottom left;
              transform: scaleX(1);
            }
          }
h1{
  font-size: 2rem;
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary);
  font-weight: bold;
  padding: 0.74rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid var(--primary);
  transition: var(--transition);
  text-decoration: none;
  &:hover{
    background: #ee234cfd;
    color: var(--primary--light);
    border-color: var(--primary--light);
  }

  &--primary{
    background-color: var(--txt--color);
    color: var(--primary);
  }
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

// @mixin Navbar__burger__bar {
  
// }

//MEDIA QUERIES (MEDIUM DEVICES)
@media screen and (max-width: 1024px){
  .App > section{
    scroll-snap-align: initial;
    height: initial;
    width: initial;
    position: initial;
  }
  #about, #skills, #contact, footer{
    height: initial;
  }
  .container {
    width: var(--container-width-md);
  }

  section{
    margin-top: 6rem;
  }
}
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 900px){
  html{
    all: initial;
  }
  .App > section{
    scroll-snap-align: initial;
    height: initial;
    width: initial;
    position: initial;
  }
  #about, #skills, #contact, footer{
    height: initial;
  }
  footer{
    margin: initial;
  }
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}