// @import 'reset';
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Caprasimo&family=Orbitron:wght@600&family=Oswald:wght@300;400&family=Playfair+Display:wght@400;500&family=Quicksand:wght@400;600&display=swap');
:root{
  --primary: #F8DAEE;
  --primary--light: #FAFFFD;
  --primary--dark: #D9D0FF;
  --primary--darker: #37034d;
  --secondary: #D9F6FF;
  --secondary--light: #E6FEFF;
  --bg--color: #FAFFFD;
  --txt--color: #D8C3E0;
  --txt--color-2: #F7A8B2;


  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;

  --transition : all 400ms ease;
}
::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary--light);
  font-family: 'Playfair Display', Helvetica, sans-serif;
}

// general styles
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

ul{
  list-style-type: none;
}
section{
  margin-top: 8rem;
  margin-bottom: 8rem;
}

section > h2, section > h5, section > h3{
  text-align: center;
  color: var(--primary--dark);
}

section > h2{
  color: var(--primary--dark);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--txt--color);
}

a {
  color: var(--txt--color-2);
  transition: var(--transition);

  &:hover{
    color: var(--primary--dark);
  }
}



.btn {
  width: max-content;
  display: inline-block;
  color: var(--primary--darker);
  padding: 0.74rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--primary--darker);
  transition: var(--transition);
  text-decoration: none;
  &:hover{
    background: linear-gradient(180deg, rgb(187, 71, 69) 0%, hsla(354, 55%, 63%, 1) 50%, rgb(255, 154, 152) 100%);
    color: var(--primary--light);
    border-color: var(--primary--darker);
  }

  &--primary{
    background-color: var(--primary);
    color: rgb(61, 60, 60);
  }
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

//MEDIA QUERIES (MEDIUM DEVICES)
@media screen and (max-width: 1024px){
  .container {
    width: var(--container-width-md);
  }

  section{
    margin-top: 6rem;
  }
}
//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}