@import '../../../styles/index.scss';


.container.contact__container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
h3{
  color: var(--primary--darker);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
}
input, textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--primary--darker);
  resize: none;
  color: black;

}

.fa-chevron-up{
  position: absolute;
  right: 4.3rem;
  top: 200rem;
  font-weight: 300;
  font-size: 2rem;
  color: var(--primary--darker);
}

//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
 .container.contact__container{
  width: var(--container-width-sm);
 }
 .fa-chevron-up{
  display: none;
 }
}