@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Montserrat+Subrayada&family=Playfair+Display:ital,wght@0,400;1,500&display=swap");
:root {
  --primary: #fff4fb;
  --primary--light: #ffffff;
  --primary--dark: rgb(200, 72, 97);
  --secondary: #8d8c8b;
  --secondary--lighter: #e9e5e2;
  --txt--color: #c84861;
  --container-width-lg: 75%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary--light);
  font-family: "Montserrat", "Playfair Display", Helvetica, sans-serif;
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

section {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

section > h2, section > h5, section > h3 {
  text-align: center;
  color: var(--secondary);
  font-size: 25px;
  font-family: "Lobster";
  /* text-shadow: 3px 1px 2px var(--txt--color), 3px 2px 4px rgb(85, 26, 139); */
}

section > h2 {
  color: var(--txt--color);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--txt--color);
}

a:hover {
  text-decoration: underline;
  color: var(--secondary);
}

h1 {
  font-size: 2rem;
}

.btn {
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: var(--txt--color);
  padding: 0.74rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--txt--color);
  transition: var(--transition);
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(0deg, hsl(0, 0%, 100%) 0%, hsl(352, 83%, 81%) 0%, hsl(283, 32%, 82%) 100%);
  color: var(--primary--light);
  border-color: var(--txt--color);
}
.btn--primary {
  background-color: var(--primary);
  color: var(--txt--color);
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
h3 {
  margin-bottom: 1rem;
}

input, textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--txt--color);
  resize: none;
  color: var(--txt--color);
}

.container.contact__container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.container.contact__container form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
}

section.fa-chevron-up {
  cursor: pointer;
  margin: 0;
  position: fixed;
  right: 0;
  bottom: 82px;
  font-weight: 300;
  font-size: 2rem;
  color: var(--txt--color);
  border-bottom-left-radius: 10px;
  background-color: var(--primary);
  border-top-left-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.4);
  /* border: 1px solid var(--txt--color);
  border-right: initial; */
}

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
  .fa-chevron-up {
    display: none;
  }
}/*# sourceMappingURL=Contact.css.map */