@import '../../../styles/index.scss';


.container.contact__container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
h3{
  color: var(--primary--darker);
  margin-bottom: 1rem;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
}
input, textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--primary--darker);
  resize: none;
  color: var(--primary--darker);

}

.fa-chevron-up{
  position: absolute;
  right: 0;
  top: 200rem;
  font-weight: 300;
  font-size: 2rem;
  color: var(--primary--darker);
  border-bottom-left-radius: 10px;
  background-color: var(--primary);
  border-top-left-radius: 10px;
  padding: 5px 0 5px 5px ;
}

//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){
 .container.contact__container{
  width: var(--container-width-sm);
 }
 .fa-chevron-up{
  display: none;
 }
}