@import '../../../styles/index.scss';

.Navbar{
  margin: 1rem;
  height: 7vh;
  background-color: var(--primary);
  border-bottom: var(--primary) solid 2px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .nav-start{
    height: 75px;
    position: absolute;
    top: -9px;
    left: 45px;
    .logo{
      width:100%;
      height:100%;
      display:block;
      padding: 3px;
      border: 3px solid var(--primary--light);
      border-radius: 40px;
      background-color: var(--primary--light);
    }
  }
  
  .nav-end{
    ul{
      display: flex;
      flex-direction: row;
      li{
        font-size: 14px;
        margin: 1em;
        text-decoration: none;
        list-style-type: none;
        a{
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}