@import '../../../styles/index.scss';

.Navbar{
  margin: 1rem;
  height: 7vh;
  background-color: var(--primary);
  border-bottom: var(--primary) solid 2px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .nav-start{
    height: 90px;
    position: fixed;
    top: 3px;
    left: 45px;
    .logo{
      width:100%;
      height:100%;
      display:block;
      padding: 3px;
      border: 3px solid var(--primary--light);
      border-radius: 50px;
      background-color: var(--primary--light);
    }
  }
  
  .nav-end{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      flex-direction: row;
      li{
        margin: 1em;
        text-decoration: none;
        list-style-type: none;
        a{
          font-size: 16px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.navbar__burger{
  width: 40px;
  height: 40px;
  background: transparent;
  border: transparent;
  color: inherit;
  display: none;
}

.navbar__burger-test{
  width: 40px;
  height: 40px;
  background-color: red;
  z-index: 3;
  background: transparent;
  border: transparent;
  color: inherit;
}

//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 600px){

  .Navbar{
    z-index: 2;

    .nav-start{
      display: none;
    }
    
    .nav-end {
      
      .navbar__links{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        left: 0;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color: var(--primary);

        a {
          display: block;
          padding: 1.5rem;
          font-size: 5vw;
          color: var(--txt--color)
        }

        // ANIMATION
        .navbar__item {
          transform: translateY(100vh);
        }
      }
      
      .navbar__burger{
        display: block;
        position: fixed;
        top: 1.5rem;
        right: 2rem;
        &:hover{
          cursor: pointer;
        }


        .burger-bar, .burger-bar:before, .burger-bar:after{
          display: block;
          width: 40px;
          height: 3px;
          position: relative;
          border-radius: 3px;
          background: var(--txt--color);
          transition: all .5s ease-in-out;
        }

        .burger-bar:before, .burger-bar:after{
          content: "";
          position: absolute;
          left: 0;
        }

        .burger-bar:before{
          transform: translateY(-12px);
        }

        .burger-bar:after{
          transform: translateY(12px);
        }
      }
    }
    
  }
  .Navbar .nav-end.show-nav {

    .navbar__links {
      width: 100vw;
      right: 0;
      visibility: visible;

      
      .navbar__item{
        transform: translateY(0);
      }
      .slideInDown-1{
        transition: all 1s ease-out;
      }
      .slideInDown-2{
        transition: all 1.1s ease-out;
      }
      .slideInDown-3{
        transition: all 1.2s ease-out;
      }
      .slideInDown-4{
        transition: all 1.3s ease-out;
      }
    }

    .navbar__burger{
      .burger-bar{
        background: transparent;
      }
      .burger-bar::before{
        transform: rotate(45deg)
      }
      .burger-bar::after{
        transform: rotate(-45deg);
      }
    }
  }
  
}