@import '../../../styles/index.scss';

section{
  margin: 0 auto;
}
#about{
// min-height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 8rem auto;
margin-bottom: 0;

// h3{
//   z-index: 2;
// }
  .about__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
    min-height: -moz-fit-content;
    min-height: fit-content;
    background-color: var(--primary--light);
    opacity: 0.7;
    margin: 0 auto;
    width: 100%;
    padding: 1rem 0;

  }
  
  p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    color: black;
    font-weight: bold;
    width: 80%;
    align-self: center;
  }
   
  .about__descr{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: 92%;
  }

  .contact__btn{
    padding: 2rem;
  }
}

//MEDIA QUERIES (SMALL DEVICES)
@media screen and (max-width: 801px){
#about{
  .about__descr {
  margin-right: 4vh;
  margin-left: 4vh;
  }
  #opacity{
    opacity: initial;
  }
} 

}