@import '../../../styles/index.scss';

#about{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding: 2rem;
  p{
    font-size: 20px;
    color: black;
    opacity: 1;
  }
   
  .about__descr{
    padding: 10px;
    background-color: var(--primary--light);
    opacity: 0.8;
    margin-bottom: 1rem;
  }
}